<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div id="wrap">
		<!-- header -->
		<div id="header">
			<div class="gnb">.gnb</div>
			<div class="sta">.sta</div>
			<div class="lnb">.lnb</div>
		</div>
		<!-- //header -->
		<!-- Container -->
		<div id="container">
			<div class="menu">.menu</div>
			<div id="content">#content</div>
		</div>
		<!-- //Container -->
		<!-- footer -->
		<div id="footer">
			<ul>
				<li class="first"><a href="#" target="_blank" title="새창">카페
						도움말</a></li>
				<li><a href="#" target="_blank" title="새창">카페 이용약관</a></li>
				<li><a href="#" target="_blank" title="새창">카페 운영원칙</a></li>
				<li><a href="#" target="_blank" title="새창"><strong>개인정보취급방침</strong></a></li>
				<li><a href="#" target="_blank" title="새창">책임의 한계와 법적고지</a></li>
				<li><a href="#" target="_blank" title="새창">게시중단요청서비스</a></li>
				<li><a href="#" target="_blank" title="새창">고객센터</a></li>
			</ul>
			<address>
				<a href="#" target="_blank" title="새창" class="logo"><img
					src="http://static.naver.com/common/footer/logo_nhn.gif" width="62"
					height="15" alt="NHN"></a> <em>Copyright &copy;</em> <a href="#"
					target="_blank" title="새창">NHN Corp.</a> <span>All Rights
					Reserved.</span>
			</address>
		</div>
		<!-- //footer -->
	</div>
</body>
</html>