@CHARSET "UTF-8";
/*header{ background:pink;
height: 7vh;}*/

/*body{overflow:visible;}*/

header{
     transition: all 0s;
}

.hd_default{ 
/*    background: url('../images/img/photographer-407068_1920.jpg') no-repeat top left;
    background-size: auto;
    background-color:rgba(0,0,0,1);*/
    width: 100%;
height: 50vh;
margin-bottom: 6vh;
position: relative;
top: 0;
     transition: all .5s;
}



.hd_default > .img_wrap{ background-color: #111;
    width: 100%; height: 100%;
    overflow: hidden;
    position: absolute; top:0;
    z-index: -1;
}

.hd_default > .img_wrap > img{
    display: block;
    position: absolute;
    top:-160px;
    min-height: 100%;
    max-width: 120%;
    opacity: 0.5;
    
}




/*
header>img{ position: absolute;
    display: block;
    overflow: hidden;
width: 100%; }
*/

span.back{ background-color: #fff;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 50%;
    z-index: 10;
}

span.back > a{
    display: block;
    width: 100%; height: 100%;
    text-indent: -9999px;
}

.hd_default > div.title{
    /*background-color: aliceblue;*/
    margin-top: 10vh;
    
}

.hd_default > .title > span{
    display: block;
    margin-bottom: 4vh;
    font-weight: 600;
    color: dodgerblue;
}

.hd_default > .title > h1{/* background-color: aquamarine;*/
    /*margin: 0 auto;*/
    text-align: center;
    height: 20%;
    font-size: 2rem;
    font-weight: 800;  
    color: #fff;
}



.hd_scroll{ background-color: dimgrey;
    width: 100%;
    height: 12vh;
    margin-bottom: 6vh;
    position: fixed;
    top: 0;
    transition: all 0s;
}


.hd_scroll > .img_wrap{ background-color: #111;
display: none;
}

.hd_scroll > .title{ background-color: fuchsia;
    position: absolute;
    top: 20px;
    width: 80%;
    display: inline-block;
    /*margin-left: 30%;*/
}

.hd_scroll > .title > span{
 display: inline-block;
    font-weight: 600;
    color: dodgerblue;
    margin-right: 50px;
}

.hd_scroll > .title > h1{
 display: inline-block;
    font-size: 2rem;
    font-weight: 800;  
    color: #fff;
}



div.content_wrap{
    margin:0 auto;
    text-align: center;
}

div.sumery{
    /*background-color: dodgerblue;*/
    height: 5vh; 
    width: 100%;
    margin: 0 auto;
}

.sumery > span{ /*background: #fff;*/
    display: inline-block;
   /* height: 100%;*/
    /*height: auto;*/
}



.line{  background-color: dodgerblue;
    display: inline-block;
    width: 30px; height: 2px;
    margin-bottom: 4px;
    /*border-bottom: 2px solid #ccc*/;}





/* article */

article{ 
margin-top: 5vh;
padding: 0 20vw;
}

h3{ font-size: 1.5rem;
font-weight: 600;}

.sumery_memo{ 
    width: auto; min-height: 10vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 4vh auto;
    padding: 3vh;
    
}

.atc_img{ background-color: #ccc;
    max-height: 500px; min-height: 500px;
    max-width: 100%;
}


.atc_img > img{
    width: 100%; height: 100%;
    background-size: contain;
}

.atc_api{
    min-height: 100px;
    margin-top: 5vh;
}

hr{ margin: 5vh auto;}













