@font-face{
    font-family: 'a명월M';
    font-family:'BusanBada';
    src:url(C:/webtest/00.gg/font/a명월M.ttf) format('truetype');
    src:url(C:/webtest/00.gg/font/BusanBada.ttf) format('truetype');
}




