<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css"
	href="../css/test.css">
</head>
<body>
	<!-- UI Object -->
	<div id="wrap">
		<p>#wrap</p>
		<!-- header -->
		<header class="header">맨 위의 공간</header>
		<!-- //header -->
		<!-- container -->
		<div id="container">
			<p>#container</p>
			<!-- snb -->
			<div class="snb">
				<p>.snb</p>
			</div>
			<!-- //snb -->
			<!-- content -->
			<div id="content">
				<p>#content</p>
			</div>
			<!-- //content -->
		</div>
		<!-- //container -->
		<!-- footer -->
		<div id="footer">
			<p>#footer</p>
		</div>
		<!-- //footer -->
	</div>
	<!-- //UI Object -->
</body>
</html>